apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: projects
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: ./examples/tech-overview/deploy/clusters/overview/components/projects
    repoURL: https://github.com/holos-run/bank-of-holos
    targetRevision: main
