apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bank-secrets
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  project: bank-security
  source:
    path: ./deploy/clusters/workload/components/bank-secrets
    repoURL: https://github.com/holos-run/bank-of-holos
    targetRevision: main
