apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    application: bank-of-holos
    environment: prod
    example.com/environment.name: prod
    example.com/owner.name: frontend
    example.com/tier.name: web
    holos.run/component.name: prod-bank-frontend
    team: frontend
    tier: web
  name: prod-bank-frontend
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
  project: prod-bank-frontend
  source:
    path: deploy/clusters/workload/components/prod-bank-frontend
    repoURL: https://github.com/jeffmccune/bank-of-holos
    targetRevision: main
